---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Categories from '../components/Categories.astro';
import Newsletter from '../components/Newsletter.astro';
import FeaturedRecipes from '../components/FeaturedRecipes.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />
		<main>
			<section class="text-center p-16 bg-linear-to-br from-pink-200 to-pink-300 text-white rounded-xl m-8">
				<h1 class="text-5xl font-bold mb-4">游꼽 Recetario Infinito</h1>
				<p class="text-xl mb-8">Descubre un mundo infinito de sabores con nuestras recetas deliciosas. Desde platos tradicionales hasta creaciones innovadoras, encuentra inspiraci칩n para tu pr칩xima comida.</p>
				<a href="/recetas" class="inline-block px-8 py-4 bg-white text-pink-500 font-bold rounded-lg transition-colors hover:bg-gray-100">Explorar Recetas</a>
			</section>
			<section class="p-16 text-center">
				<h2 class="text-4xl font-bold mb-8">쯈u칠 encontrar치s aqu칤?</h2>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-12 max-w-7xl mx-auto px-6">
					<div class="p-8 bg-gray-50 rounded-xl shadow-lg w-full h-full flex flex-col">
						<h3 class="text-2xl font-semibold mb-4">游 Recetas Cl치sicas</h3>
						<p class="text-gray-700 text-left leading-relaxed">Una colecci칩n de recetas tradicionales y probadas que nunca fallan.</p>
					</div>
					<div class="p-8 bg-gray-50 rounded-xl shadow-lg w-full h-full flex flex-col">
						<h3 class="text-2xl font-semibold mb-4">游 Recetas Solicitadas</h3>
						<p class="text-gray-700 text-left leading-relaxed">Recetas creadas especialmente para ti, basadas en tus solicitudes y preferencias.</p>
					</div>
					<div class="p-8 bg-gray-50 rounded-xl shadow-lg w-full h-full flex flex-col">
						<h3 class="text-2xl font-semibold mb-4">游닀 Sobre el Proyecto</h3>
						<p class="text-gray-700 text-left leading-relaxed">Conoce la metodolog칤a detr치s de Recetario Infinito y c칩mo creamos contenido 칰nico.</p>
					</div>
				</div>
			</section>
		</main>
		<FeaturedRecipes />
		<Categories />
		<!-- <Newsletter /> -->

		<Footer />
	</body>
</html>
